.App {
  text-align: center;
  overflow: hidden;
  background: #5998C5;
  height: 100vh;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.form-container {
						background-color: #fff!important;
						border-color: #e5e5e4!important;
						border-style: solid!important;
						border-width: 1px!important;
						box-sizing: border-box!important;
						height: 52px!important;
						transition: all .4s ease!important;
						-moz-box-sizing: border-box!important;
						-webkit-transition: all .4s ease!important;
						-webkit-box-lines: multiple!important;
						display: inline; 
            width: 50%;
            margin: auto;
  }
  .form-text {
						background-color: transparent!important;
						border: none;
						box-sizing: border-box!important;
						color: #000!important;
						flex-grow: 1!important;
						max-width: 100%!important;
						font-size: 14px!important;
						padding: 8px 16px!important;
						font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif!important;
						font-weight: 500!important;
						line-height: 24px!important;
						outline: 0!important;
						text-align: none!important;
						transition: all .4s ease!important;
						margin-bottom: 0!important;
						-moz-box-sizing: border-box!important;
						-webkit-flex-grow: 1!important;
						-webkit-transition: all .4s ease!important;
						-ms-flex-positive: 1!important;
            text-align: center;
            height:100%;
            width:100%;
}
.login {
  max-width:500px;
  margin: 100px auto;
  text-align: center;

}

.repressed-title {
  color: white;
  letter-spacing: 1px;
}
.start-button {
  width:250px;
  background: #1abc9c;
  color:white;
  padding: 1rem ;
  border-radius: 6px;
  font-size:20px;
  letter-spacing: 1px;
  border:none;
  outline:none;
}
input, button {
  border-radius: 6px !important;
}

button:hover, .start-button:hover{
  background: #220E2F;
  cursor: pointer;
  outline:none;
}

.fa {
  position: relative;
  left:20px;
  font-size: 30px;
  color:green;
}
.Loader__background {
  height: 100vh !important;
  margin-top: -100px;
}
.Loader__foreground {
  height: 100vh !important;
}
.Loader__message {
  height:100vh !important;
}
.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.selection button{
  color:#333;
  margin: 40px 20px; 
  border: none;
  height: 50px;
  padding: 0 3rem;
  font-size: 18px;
}
.selection button:hover {
  color:white;
}

h1,h2,h3 {
  color: white;
}
.selection h1 {
  font-size: 52px;
}
.modest-credit {
  position: absolute;
  bottom: 20px; 
  right: 20px;
  color:#333333;
}

