body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form-container {
						background-color: #fff!important;
						border-color: #e5e5e4!important;
						border-style: solid!important;
						border-width: 1px!important;
						box-sizing: border-box!important;
						height: 52px!important;
						flex-wrap: wrap!important;
						transition: all .4s ease!important;
						-moz-box-sizing: border-box!important;
						display:inline-block;
  }
  .form-text {
						background-color: transparent!important;
						border: none;
						box-sizing: border-box!important;
						color: #000!important;
						flex-grow: 1!important;
						max-width: 100%!important;
						font-size: 14px!important;
						padding: 8px 16px!important;
						font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif!important;
						font-weight: 500!important;
						line-height: 24px!important;
						outline: 0!important;
						text-align: none!important;
						transition: all .4s ease!important;
						margin-bottom: 0!important;
						-moz-box-sizing: border-box!important;
						-webkit-flex-grow: 1!important;
						-webkit-transition: all .4s ease!important;
						-ms-flex-positive: 1!important;
}
.twitter {
	display: none;
}
.next {
	display:none;
}
.facebook{
	display: none;
}